    <div id="sign-up-banner" class="sign-up-banner banner {{ class }}">
      <div class="row-wrapper">
        <div class="fourth subscribe-icon-wrapper">
          {{> sprite symID="subscribe"}}
        </div>
        <div class="half">
          <h2 class="medium secondary-title">{{ prototype.copy.signupBanner.headline }}</h2>
          <p class="demi">{{ prototype.copy.signupBanner.subhead }}</p>
        </div>
          {{> fxa_enabled/sign_up_bundle class="fourth"}}
      </div>
    </div>
